.formulario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4); /* leve escurecimento */
  z-index: 1000;

  display: none; /* oculto por padrão */
  justify-content: center;
  align-items: center;
}
.formulario.ativo {
  max-height: 100vh;
  display: flex;
}

.container-form {
  /* background: #fff; */
  padding: 30px;
  /* border-radius: 10px; */
  width: 90%;
  max-width: 500px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

#pet-form {
  /* border: 3px solid rgb(37, 13, 220); */
  width: 400px;
  height: auto;
  padding: 50px;
  justify-items: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

#pet-form h3 {
  text-align: center;
  font-family: monospace;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fd6356;
  text-shadow: 1px 1px 2px white;

}

.form-group input {
  width: 300px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid grey;
  font-family: monospace;
}

.form-group textarea {
  width: 300px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  font-family: monospace;
}

.cadastrar {
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  border-radius: 8px;
  border: none;
  background-color: #fd6356;
  color: #ffffff;
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
}

#pet-form button:hover {
  background: #ef4444; /* hover mais forte */
}

.fechar {
  padding: 10px;
  background-color: #fd6356;
  color: #ffffff;
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
  border: none;
  border-radius: 20%;
  position: absolute;   
    bottom: 90%;
    left: 90%;
}
